<ul class="thumbnails list-unstyled" ng-controller='CartController'>
  <li ng-repeat="vegetable in vegetables" class="produce col-md-3">
    <div class="thumbnail" style="padding: 0">
      <img alt="300x200" style="width: 100%" ng-src="assets/img/{{vegetable.name}}.jpg">
      <div class="caption">
        <h2 class="text-center">{{vegetable.name}}</h2>
      </div>
      <div class="modal-footer text-left">
        <p class="text-center">Average price: ${{vegetable.price}} per {{vegetable.unit}}</p>
        <input class="quantity-input" class="{{name}}" ng-model="q"/>
        <a style="display: inline;" class="btn btn-blue" ng-click="ngCart.addItem(vegetable._id, vegetable.name, vegetable.price, q)">Add Qty</a>
        <mark ng-show="inCart()">
          This item is in your cart.
        </mark>
      </div>
    </div>
  </li>
</ul>
